@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  
  .hero h2 {
    font-family: 'Rocher';
  }

  .hm {
    margin-top: 6rem;
  }
  
  @font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
  }
  
  @font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
  }
  
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }
  
  .grays {
    font-palette: --Grays;
  }
  
  .purples {
    font-palette: --Purples;
  }
  
  .mint {
    font-palette: --Mint;
  }

  .cir {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    transition: 0.3s;
  }

  .cir img {
    border: 3px solid palevioletred;
    border-radius: 50%;
    width: 70px;
    cursor: pointer;
    height: 70px;
    transition: 0.3s;
    box-shadow: 0 0 17px 0 palevioletred;
  }

  .cir:hover img{
    box-shadow: 0 0 17px 0 aqua;
    border: 3px solid aqua;
  }

  .cir1 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    transition: 0.3s;
  }

  .cir1 img {
    border: 3px solid aqua;
    border-radius: 50%;
    width: 70px;
    cursor: pointer;
    height: 70px;
    transition: 0.3s;
    box-shadow: 0 0 17px 0 aqua;
  }

  .cir1:hover img{
    box-shadow: 0 0 17px 0 palevioletred;
    border: 3px solid palevioletred;
  }

  .item {
    cursor: pointer;
  }

  @media (max-width: 639px) {
    .grid {
      grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
  }
  

  @media (max-width: 639px) {
    .gridd {
      grid-template-columns: repeat(1, minmax(0, 1fr)); 
      margin-left: -1rem;
    }
  }


  .tyty {
    box-shadow: 0 0 10px 0 violet;
    border: 0 0;
  }

  .active {
    color: #000000;
  }

  .img {
    box-shadow: 0 0 20px 0 violet;
  }